header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term..", name="term")
    .header__column
        ul
            //- login 된 상태를 설정하기 위해 임의의 변수(user) 생성
            if !user.isAuthenticated
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Log In
            else 
                li
                    a(href=routes.upload) Upload
                li
                    //- userDetail(user.id) 실행 시 `/users/${id}` 를 return
                    a(href=routes.userDetail(user.id)) Profile
                li  
                    a(href=routes.logout) Log Out