header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term..", name="term")
        .header__column
            ul
                //- login 된 상태를 설정하기 위해 임의의 변수(user) 생성
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else 
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        //- res.locals를 통해 loggedUser 확인 후 이동. (user.id를 활용할 경우, 로그인하지 않은 다른 user의 id로도 진입 가능하기 때문)
                        a(href=routes.me) Profile
                    li  
                        a(href=routes.logout) Log Out


